<p>Name:{{name}}</p>
<p>Location{{location}}</p>

<p style="text-align: center;">Pdf de prueba</p>
<p style="text-align: center;">&nbsp;</p>
<p>Name:{{name}}</p>
<p>Location{{location}}</p>

<p style="text-align: center;">&nbsp;</p>
<p style="text-align: justify;"><strong>Lorem Ipsum</strong>&nbsp;es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno est&aacute;ndar de las industrias desde el a&ntilde;o 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido us&oacute; una galer&iacute;a de textos y los mezcl&oacute; de tal manera que logr&oacute; hacer un libro de textos especimen. No s&oacute;lo sobrevivi&oacute; 500 a&ntilde;os, sino que tambien ingres&oacute; como texto de relleno en documentos electr&oacute;nicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creaci&oacute;n de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y m&aacute;s recientemente con software de autoedici&oacute;n, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><img src="/templates/static/img/Firma_Lenín_Moreno_Garcés.png" width="171" height="91" /></p>
<p style="text-align: center;">__________________________</p>
<p style="text-align: center;">&nbsp;</p>